/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Axiforma Regular';
    src: url('/axiforma/Axiforma-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma Medium';
    src: url('/axiforma/Axiforma-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma Italic';
    src: url('/axiforma/Axiforma-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Axiforma Regular', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212020;
    overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-smaller-text {
    font-size: 0.780rem; /* Adjust the font size as needed */
  }

  input:disabled, textarea:disabled {
    color: white !important; /* Overriding color */
    opacity: 1 !important; /* Overriding opacity if needed */
  }

  select option:hover {
    background-color: #9E67E4;
    color: white; /* Optionally change text color */
  }

  @keyframes flash {
    0% { color: white; }
    50% { color: #9E67E4; }
    100% { color: white; }
  }
  
  .animate-flash {
    animation: flash 1s infinite;
  }